<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd"> 
<!-- for sixth -->
    <bean id="c" class="sixth.C" ><constructor-arg name="c" value="c"/></bean>
    <bean id="b" class="sixth.B" scope="prototype"><property name="c" ref="c"/></bean>
    <bean id="a" class="sixth.A" ><property name="b" ref="b"/></bean> 
    </beans> 
